body {
    font-family: tahoma;
    font-size: 9pt;
}

.header {
    text-align: center;
    /* background-color: aqua; */
    margin-bottom: -5px;
}

.header h2 {
    margin-bottom: -15px;
}
.header h3 {
    /* margin-bottom: -2px; */
    /* padding: 0; */
}

.header h5 {
    margin-top: -10px;
    margin-bottom: -12px;
    padding: 0;
}

.tracer-body {
    text-align: center;
}

.title {
    margin-bottom: 10px;
}
.title1 {
    margin-top: -5px;
}

.antrian {
    margin: 25px;
    /* background-color: aqua; */
}

.noantrian {
    font-size: 70px;
}

.footer {
    margin-top: 15px;
    margin-bottom: -5px;
    font-style: italic;
}
